.center{
  text-align:center;
}
.head{
  background:#fff;
  color:#000;
}
img.logo {
    height: 150px;
}
.bg-dark {
    background-color: #000000!important;
}
.head {
    background: #fff;
    color: #000;
    padding: 20px 0px;
}
.answers ul{
  list-style:none;
  padding:0;
}
.answer ul li > input[type="radio"]{
  margin-right:10px !important;
}

input[type="radio"] {
    margin-right: 12px;
}
.questions {
    margin: 60px 0px;
}
.action .btn{
  width:400px;
}
.action{
  margin-top:50px;
}
input[type=text]{
  width:100%;
  margin-bottom:20px;
}
.register {
    margin-top: 60px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 30px;
}
h1.title{
  margin-top:60px;
}
.hide{
  display:none;
}
.profile{
  margin-top:60px;
}
.btn-primary{
  background-color: #cc0000;
  border:0;
}
.btn-primary:hover{
  background-color: #000000;
  border:0;
}