<!DOCTYPE html>
<html lang="en">

<body>
  
  <!--==========================
    Intro Section
  ============================-->
          <div>
            
          </div>
          <div>
            Dear {{name}},<br/>
            <br/>
            <h1 id="-akses-halaman-detail-premium-anda-"><strong>AKSES HALAMAN DETAIL PREMIUM ANDA</strong></h1>
<p>Investasi anda adalah senilai Rp. 200,000 ( <del>Rp. 500,000</del> )</p>
<p>Untuk 10 lembar detil informasi profil anda, yang anda bisa manfaatkan untuk kemajuan diri, pekerjaan dan bisnis anda.</p>
<h2 id="-apa-saja-yang-akan-saya-peroleh-"><em>Apa saja yang akan saya peroleh ?</em></h2>
<ol>
<li>Anda akan memperoleh hasil laporan detail tentang diri anda.</li>
<li>Anda akan memperoleh laporan lengkap dalam bentuk infografis yang mudah dimengerti.</li>
<li>Anda akan memperoleh akun khusus untuk anda memperoleh informasi tambahan spesifik profil anda (berdasarkan kondisi dunia bisnis terkini).</li>
</ol>
<p>Silahkan transfer pembayaran anda sebesar Rp. 200,000 ke :</p>
<pre><code><span class="hljs-keyword">CIMB Niaga </span>-  800115318700
  a/n NARAPATIH INSPIRATAMA
</code></pre><p>dan <a href="{{confirm_url}}">klik link berikut</a> untuk meng-konfirmasikan pembayaran anda.</p>
<p>Jika ada pertanyaan atau anda membutuhkan bantuan lebih lanjut, silahkan hubungi :</p>
<pre><code><span class="hljs-attribute">Whatsapp</span>: +62-877-0088-4964
<span class="hljs-attribute">Email </span>: support<span class="hljs-variable">@shiokaya.com</span>
</code></pre><p>Salam,</p>
<p>Team Shiokaya</p>
<p style="margin-bottom:60px; font-size:80%">
 Catatan: Anda mendapatkan email ini karena anda atau seseorang mendaftarkan email anda di http://www.shiokaya.com . Jika anda tidak merasa mendaftarkan email anda,
 silahkan kontak opt-out@shiokaya.com
</p>
          </div>
        </div>
</body>

</html>